#progressbar{
    width:80%;
    height:10px;
    background-color: #CCCCCC;
    border-radius: 5px;
    margin-top:30px
}

#innerLine{
    background-color: #FF6600;
    height:10px;
    float: left;
    border-radius: 5px;
}